<ion-header>
  <ion-toolbar>
    <ion-title>Calificaciones list</ion-title>
    <ion-button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>Log Out
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let calificacion of calificaciones$ | async">
      <ion-label>{{ calificacion.title }}</ion-label>
      <ion-button fill="clear" color="primary" (click)="editCalificacion(calificacion)">Edit
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger"
        (click)="calificacion.id ? deleteCalificacion(calificacion.id) : null">Delete
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input [(ngModel)]="calificacionText" placeholder="Nueva calificacion"></ion-input>
    <ion-button (click)="addCalificacion()">{{ editingCalificacionId ? 'Update' : 'Add' }}</ion-button>
  </ion-item>
</ion-content>